{% extends 'base.html' %}

{% block content %}

<section style="padding-bottom:20px;" class="process-section spad">
	<div class="container">
		<div class="section-title text-center">
			<h4>Welcome to your dashboard, <strong>{{session.get('first_name')}} {{session.get('last_name')}}</strong>!</h4>
			<h1></h1>
			<p>Your current balance is: <strong>{{balance}}</strong></p>
		</div>
  </div>
</section>

<!-- Contact section -->
<section style="padding-top:20px;" class="contact-page spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-7">
				<form class="contact-form" method="POST">
          {% from "_formhelpers.html" import render_field %}
					<div class="row">
            <div class="col-md-12">
							<div class="form-group">
								<input class="check-form" required=required name="balance" type="text" placeholder="Purchase Amount" value={{request.form.balance}}>
								<span><i class="ti-check"></i></span>
							</div>
						</div>
						<div class="col-md-12">
							<button class="site-btn sb-gradients mt-4">Confirm Purchase</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
<!-- Contact section end -->


{% endblock %}
